{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="wrap-content">
    <div class="card-background two-thirds-width">
      <section class="card">
        <div class="">
          <h2 class="">{{event.title}}</h2>
        </div>
      </section>
      <section class="card landing-text-container">
        <img src="{% static 'images/image_placeholder.jpg' %}" alt="Missing Image">
      </section>
      <section class="">
        <p class="">Cost £{{event.cost}}</p>
        <p class="">Date {{event.datetime}}</p>
        <p>{{event.description}}</p>
        <form action="{% url 'add_review' event.id %}" method="post">
					{% csrf_token %}
					<input type="submit" value="Add Review">
				</form>
      </section>
      </div>
    </div>
  </main>
  {% endblock content %}